/* generated in /home2/guitarr2/public_html/guitarrasbernaert.com/wp-content/themes/creator/assets/custom-styles/general-custom-styles.php creator_elated_design_styles function */
.eltd-preload-background { background-image: url(../img/preload_pattern.png) !important;}

/* generated in /home2/guitarr2/public_html/guitarrasbernaert.com/wp-content/themes/creator/assets/custom-styles/general-custom-styles.php creator_elated_design_styles function */
.eltd-boxed .eltd-wrapper { background-image: url(http://creator.elated-themes.com/wp-content/uploads/2016/11/pattern-boxed.jpg);background-position: 0px 0px;background-repeat: repeat;background-attachment: fixed;}

/* generated in /home2/guitarr2/public_html/guitarrasbernaert.com/wp-content/themes/creator/assets/custom-styles/general-custom-styles.php creator_elated_text_styles function */
p { color: #9e9e9e;}

/* generated in /home2/guitarr2/public_html/guitarrasbernaert.com/wp-content/themes/creator/framework/modules/header/custom-styles/header.php creator_elated_header_centered_menu_area_styles function */
.eltd-header-centered .eltd-page-header .eltd-menu-area { height: 90px;}

/* generated in /home2/guitarr2/public_html/guitarrasbernaert.com/wp-content/themes/creator/framework/modules/search/custom-styles/search.php creator_elated_search_covers_header_style function */
.eltd-search-slide-header-bottom.eltd-animated .eltd-form-holder-outer, .eltd-search-slide-header-bottom .eltd-form-holder-outer, .eltd-search-slide-header-bottom { height: px;}

